/*========Basics Element Styles========*/

/*========Form========*/
form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 15px;
    background: lightgray;
    border-radius: 10px;
}

#sign {
    text-align: center;
    margin-bottom: 35px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    color: blue;
    font-weight: bold;
    background: whitesmoke;
    width: 100%;
    margin-bottom: 15px;
}

textarea {
    color: blue;
    font-weight: bold; 
}

button {
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-top: -30px;
    border: 2px solid black;
    border-radius: 10px;
    border-width: 3px;
}

button:hover {
    background-color: royalblue;
    cursor: pointer;
}

fieldset {
    margin-bottom: 35px;
    border: none;
}

legend {
    margin-bottom: 15px;
}

.number {
    background-color: royalblue;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
}

.zip,
.state {
    margin-top: 25px;
}

.textarea {
    margin-top: 20px;
}

/*========Newsletter========*/

.newsletterFormat{
    margin-top: 10px;
    margin-bottom: 15px;
}


/*========Table========*/
  /* table {
    max-width: 960px;
    margin: 10px auto;
  }
  
  caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
  }
  
  thead th {
    font-weight: 400;
    background: #8a97a0;
    color: #FFF;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  tr:nth-child(even) {
    background: #e8eeef;
  }
  
  th, td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
  }
  
  tfoot tr {
    background: none;
  }
  
  tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;
  }

  .name {
      background: dodgerblue; 
  } */
  