/*========Basic Element Styles========*/

body {
    font-family: "Arimo", serif;
}

li {
    list-style-type: none;
}

/*========Heading & Footer========*/

header,
footer {
    text-align: center;
    color: white;
    background-color: #111d30;
    width: 100%;
    padding: 5px;
}

.container {
    visibility: hidden;
}

/*========Second Section========*/

.secondSection {
    text-align: center;
}

#hr1 {
    border: 2px solid black;
    width: 88%;
}

#hr2 {
    border: 2px solid gray;
    width: 88%;
}

#p1 {
    font-size: 20px;
}

#p2 {
    color: gray;
    font-size: 12px;
}

/*========Form========*/
form {
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 15px;
    background: lightgray;
    border: 2px solid black;
    border-radius: 5px;
}

#sign {
    text-align: center;
    margin-bottom: 35px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    color: blue;
    font-weight: bold;
    background: whitesmoke;
    width: 100%;
    margin-bottom: 15px;
}

textarea {
    color: blue;
    font-weight: bold; 
}

button {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin-top: -30px;
    border: 2px solid black;
    border-radius: 10px;
    border-width: 3px;
}

button:hover {
    background-color: dodgerblue;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 1.5s;
}

fieldset {
    margin-bottom: 35px;
    border: none;
}

legend {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.number {
    background-color: dodgerblue;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
}

.zip,
.state {
    margin-top: 25px;
}

.textarea {
    margin-top: 20px;
}

/*========UI Element States Psuedo-Classes========*/

input:focus,
textarea:focus {
    background-color: #111d30;
    transition-timing-function: ease-out;
    transition: 1s;
    color:white;
    border-color: #52bab3;
}

input[type="checkbox"]:checked + label {
    font-weight: bold;
}

input[type="radio"]:checked + label {
    font-weight: bold;
}

input::placeholder,
textarea::placeholder {
    text-align: left;
    opacity: .5;
}

/*========Newsletter========*/

.newsletterFormat{
    margin-top: 10px;
    margin-bottom: 15px;
}

.submit {
    background-color: lightcoral;
    margin-bottom: 25px;
}

.reset {
    background-color: #4bc970;
}

/*========Table========*/

table {
    visibility: hidden;
}

/*========Media Queries========*/

@media (max-width: 767px) {
    .secondSection {
        margin-top: -100px;
    }

    form {
        margin-top: 25px;
        margin-bottom: -90px;
    }
}

@media (min-width: 768px){
    form {
        width: 500px;
    }

    .inln {
        width: auto;
        display: inline-block;
        margin-bottom: 0;
    }

    #hr1, 
    #hr2 {
        width: 36%;
    }

    header h3,
    #p1 {
        font-size: 2em;
    }

    #p2,
    footer {
        font-size: 1.1em;
    }

    li {
        display: flex;
    }
      
    li label {
        flex: 1 100px;
        max-width: 100px;
    }
        
    li input,
    li select {
        flex: 2 650px;  
    }

/*========Navigation========*/
    .container {
        visibility: visible;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        margin: 45px auto;
        box-shadow: 0 2.5px 0 0 rgba(0,0,0,0.3);
    }
    .item {
        color: #fff;
        padding: 15px;
        margin: 5px;	
        background: dodgerblue;
        border-radius: 3px;
    }

    .firstSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
    }

    .item-1 {
        margin-right: auto;
    }

    a:link {
        color:white;
        text-decoration: none;
    }

    a:visited {
        color: white;
    }

    a:hover {
        background-color: blue;
    }

/*========Table========*/

    table {
        visibility: visible;
        width: 100%;
        margin-bottom: 20px;
    }
    
    caption {
        font-size: 1.6em;
        font-weight: 400;
        padding: 10px 0;
    }

    thead th {
        font-weight: 400;
        background: #8a97a0;
        color: #FFF;
        border: 3px solid black;
    }

    tr {
        background: #f4f7f8;
        border-bottom: 1px solid #FFF;
        margin-bottom: 5px;
    }

    tr:nth-child(odd) {
        background: whitesmoke;
    }

    th, td {
        text-align: left;
        padding: 10px;
        font-weight: 300;
        border: 2px solid black;
    }

    tfoot tr {
        background: none;
    }

    tfoot td {
        padding: 10px 2px;
        font-size: 0.7em;
        font-style: italic;
        color: #8a97a0;
    }

    .name {
        font-weight: bold;
        background: dodgerblue; 
    } 
}